/**------------------------FONT-------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@156&display=swap');




/**-----------------------RESET--------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif !important; 
}



/**----------------------HEADER----------------------------*/
header nav img {
    width: 80px;
    height: 70px;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

header nav ul li a:hover {
    color: rgb(105, 24, 24)
}

/**-------------------------MAIN--------------------------*/

.hero {
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero h1 {
    font-size: 40px;
    font-weight: 900;
    color: white;
    border-style: double;
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
}

.hero h2 {
    font-weight: 900;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
    color: white
}


.hero a {
    text-decoration: none;
    background-color: rgba(87, 40, 40, 0.466);
    color: white;
    padding: 10px;
    font-size: 15px;
    border: 2px solid rgb(105, 24, 24);
}

.hero a:hover {
    background-color: rgb(105, 24, 24);
}

.rincon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px;
}

.rincon div {
    width: 50%;

}

.rincon img {
    width: 550px;
    height: 800px;
}

.rincon div h2 {
    font-size: 30px;
}

.rincon div p {
    font-size: 20px;
    font-weight: 900;
}

.grid-galeria {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 10px;
}

.grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item {
    position: relative;
}

.grid-item h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(87, 40, 40, 0.466);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.img-4 {
    grid-column: span 2;
}

.img-6 {
    grid-row: span 2;
}

.img-8 {
    grid-row: span 2;
}

.boton {
    text-decoration: none;
    background-color: rgb(87, 40, 40);
    color: white;
}

.outlet-contenedor {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.outlet .outlet-contenedor div {
    border: 1px solid gray;
    width: 320px;
    height: 340px;
    text-align: center;
    margin-bottom: 20px;
}

.outlet {
    width: 100%;
    text-align: center;
    padding: 25px;
}

.outlet h2 {
    background-color: rgb(179, 107, 107);
    color: white;
    font-size: 20px;
    padding: 15px;
}

.outlet div h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.outlet div a {
    font-size: 12px;
    text-decoration: none;
    background-color: rgba(87, 40, 40, );
    color: white;
    padding: 10px;
}

.outlet div img {
    width: 200px;
    height: 250px;
}

.outlet a:hover {
    background-color: rgba(87, 40, 40, 0.466);
}

.destacados-contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.destacados .destacados-contenedor div {
    border: 1px solid gray;
    width: 320px;
    height: 340px;
    text-align: center;
    margin: 15px;
}

.destacados div img {
    width: 200px;
    height: 250px;
}

.destacados div a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    background-color: rgba(87, 40, 40);
    padding: 10px;
}

.destacados h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    padding: 15px;
    text-align: center;
}


.destacados h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px
}

.destacados a:hover {
    background-color: rgba(87, 40, 40, 0.466);
}

.carousel{
    margin: auto;
    width: 70%;
}

.carousel h2{
    font-size: 20px;
    font-weight: bolder;
    margin: 20px;
    text-align: center;
}


.carousel-inner img{
    padding: 15px;
    width: 200px;
    height: 480px;
}

.somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px;
}


.somos div h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.somos div p {
    font-size: 25px;
    font-weight: 100;
    text-align: justify;
    margin-right: 30px;
}


.somos img {
    width: 50%;
}

.contactanos {
    margin: 10px;
    padding: 5px;
}

.fixed {
    position: fixed;
    bottom: 80px;
    right: 60px;
}


.fixed img {
    width: 60px;
    height: 60px;
}

.login{
    width: 60%;
    height: 350px;
    margin: 20px;
    padding: 20px;
    margin-top: 80px;
}

.login h2{

    font-size: 20px;
    font-weight: 900;
}

.menu{
    background-color: rgb(179, 107, 107) !important;
}

.container-fluid div ul li a{
    font-weight: bold;
    color: white !important;
}

.nav-item .dropdown-menu .dropdown-item {
    font-weight: bold;
    color: black !important;
}

.btn{
    background-color: rgba(87, 40, 40, 0.466);
    border: 1px solid rgb(105, 24, 24);
    color: white;
}

.btn:hover{
background-color: rgb(105, 24, 24);
color: white;
}


.row{
    font-weight: 600;
}


/**---------------------------FOOTER----------------------------*/
footer {
    background-color: rgb(179, 107, 107);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer h2 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    padding: 32px;
}

footer img {
    width: 35px;
    height: 35px;
    margin: 10px;
}


/*!-------------------------------MEDIA QUERIES-------------------------*/


@media screen and (max-width:950px) {
    .grid-galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 320px;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }

    .img-9 {
        grid-column: span 2;
    }
}

@media screen and (max-width:880px) {
    .rincon {
        flex-direction: column;
    }

    .rincon div {
        width: 80%;
        text-align: center;
    }

    .rincon img {
        display: none;
    }

    .somos {
        flex-direction: column;
    }

    .somos {
        text-align: center;
    }

    .somos img {
        display: none;
    }
}

@media screen and (max-width:740px) {

    .hero h1 {
        font-size: 35px;
    }

    .hero h2 {
        font-size: 18px;
    }
}


@media screen and (max-width:450px) {
    .grid-galeria {
        grid-template-columns: 1fr;
    }

    .grid-item {
        grid-column: span 1;
        grid-row: span 1;
    }
}


@media screen and (max-width:400px) {
    .hero h1 {
        font-size: 30px;
        padding: 4px;
    }
}